---
---

@import "{{ site.theme }}";

/*  Base
---------------------------*/

*,
*:after,
*:before {
 box-sizing: border-box;
}

html,
body {
 position: relative;
 height: 100%;
}

body {
 margin: 0;
 padding: 0;
 height: 100%;
 overflow: hidden;
 font-family: 'Work Sans', 'Helvetica Neue', 'Helvetica', 'Roboto', 'Arial', sans-serif;
 font-size: 14px;
 font-weight: 300;
 line-height: 1.6;
 min-height: 100vh;
 color: #555;
 background: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
 font-weight: 500;
 line-height: 1.2em;
 margin: 12px 8px;
}

h1 {
 font-size: 2em;
}

h2 {
 font-size: 1.5em;
}

h3 {
 font-size: 1.25em;
}

h4 {
 font-size: 1.1em;
}

h5 {
 font-size: 1em;
}

h6 {
 font-size: .85em;
}

p {
 margin: 1px 8px;
}

ol,
ul {
 margin: 1px 8px 10px;
 padding-left: 28px;
}

b,
strong {
 font-weight: 700;
}

hr {
 line-height: 1.25em;
 overflow: visible;
 box-sizing: content-box;
 height: 1px;
 margin: 8px;
 border: 0;
 background: -webkit-linear-gradient(to right, #bdbdbd, #616161, #bdbdbd);
 background: linear-gradient(to right, #efefef, #dcdcdc, #dad9d9);
}

blockquote {
 font-style: italic;
 position: relative;
 display: block;
 margin: 8px 10px;
 padding: 6px 10px 24px;
 border-left: 3px solid #616161;
 border-radius: 0 2px 2px 0;
 background: #eee;
 box-shadow: 0 1px 3px rgba(0, 0, 0, .1), 0 1px 2px rgba(0, 0, 0, .15);
}

blockquote:after {
 font-size: .85em;
 font-style: normal;
 position: absolute;
 bottom: 0;
 left: 10px;
 content: attr(cite);
 color: #616161;
}

code,
kbd,
pre,
samp {
 font-family: monospace, monospace;
}

code {
 padding: 2px 4px;
 color: #2196f3;
 background: #efefef;
}

pre {
 overflow: auto;
 margin: 8px 10px;
 padding: 12px;
 color: #909090;
 background: #f8f8f8;
}

kbd {
 padding: 2px 4px;
 color: #fafafa;
 border-radius: 2px;
 background: #555;
 box-shadow: 0 1px 2px rgba(0, 0, 0, .1), 0 1px 1px rgba(0, 0, 0, .15);
}

small,
sup,
sub {
 font-size: 75%;
}

sup {
 top: -8px;
}

sub {
 bottom: -4px;
}

sup,
sub {
 line-height: 0;
 position: relative;
 vertical-align: baseline;
}

a {
 -webkit-transition: all .3s ease 0s;
 transition: all .3s ease 0s;
 text-decoration: underline;
 opacity: 1;
 color: #2196f3;
}

a.active {
 color: white;
}

a:hover,
a:focus,
a:active {
 opacity: .75;
}

.sr-only {
 position: absolute;
 overflow: hidden;
 clip: rect(0, 0, 0, 0);
 width: 1px;
 height: 1px;
 margin: -1px;
 padding: 0;
 border: 0;
}

img {
 max-width: 100%;
}


/*  Grid
 --------------------*/

.container {
 margin: 0 auto;
 padding: 0 10px;
}

.row {
 display: -webkit-box;
 display: -webkit-flex;
 display: flex;
 box-sizing: border-box;
 -webkit-box-flex: 0;
 -webkit-box-orient: horizontal;
 -webkit-box-direction: normal;
 -webkit-flex: 0 1 auto;
 flex: 0 1 auto;
 -webkit-flex-flow: row wrap;
 flex-flow: row wrap;
}

.row[class*='cols-sm-'] > * {
 box-sizing: border-box;
 padding: 0 4px;
 -webkit-box-flex: 0;
 -webkit-flex: 0 0 auto;
 flex: 0 0 auto;
}

@media (min-width: 768px) {
 .row[class*='cols-md-'] > * {
  box-sizing: border-box;
  padding: 0 4px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
 }
}

@media (min-width: 1280px) {
 .row[class*='cols-lg-'] > * {
  box-sizing: border-box;
  padding: 0 4px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
 }
}

.col-sm,
[class^='col-sm-'],
[class^='col-sm-offset-'] {
 box-sizing: border-box;
 padding: 0 4px;
 -webkit-box-flex: 0;
 -webkit-flex: 0 0 auto;
 flex: 0 0 auto;
}

.col-sm,
.row.cols-sm > * {
 max-width: 100%;
 -webkit-box-flex: 1;
 -webkit-flex-grow: 1;
 flex-grow: 1;
 -webkit-flex-basis: 0;
 flex-basis: 0;
}

.col-sm-1,
.row.cols-sm-1 > * {
 max-width: 8.33333%;
 -webkit-flex-basis: 8.33333%;
 flex-basis: 8.33333%;
}

.col-sm-2,
.row.cols-sm-2 > * {
 max-width: 16.66667%;
 -webkit-flex-basis: 16.66667%;
 flex-basis: 16.66667%;
}

.col-sm-3,
.row.cols-sm-3 > * {
 max-width: 25%;
 -webkit-flex-basis: 25%;
 flex-basis: 25%;
}

.col-sm-4,
.row.cols-sm-4 > * {
 max-width: 33.33333%;
 -webkit-flex-basis: 33.33333%;
 flex-basis: 33.33333%;
}

.col-sm-5,
.row.cols-sm-5 > * {
 max-width: 41.66667%;
 -webkit-flex-basis: 41.66667%;
 flex-basis: 41.66667%;
}

.col-sm-6,
.row.cols-sm-6 > * {
 max-width: 50%;
 -webkit-flex-basis: 50%;
 flex-basis: 50%;
}

.col-sm-7,
.row.cols-sm-7 > * {
 max-width: 58.33333%;
 -webkit-flex-basis: 58.33333%;
 flex-basis: 58.33333%;
}

.col-sm-8,
.row.cols-sm-8 > * {
 max-width: 66.66667%;
 -webkit-flex-basis: 66.66667%;
 flex-basis: 66.66667%;
}

.col-sm-9,
.row.cols-sm-9 > * {
 max-width: 75%;
 -webkit-flex-basis: 75%;
 flex-basis: 75%;
}

.col-sm-10,
.row.cols-sm-10 > * {
 max-width: 83.33333%;
 -webkit-flex-basis: 83.33333%;
 flex-basis: 83.33333%;
}

.col-sm-11,
.row.cols-sm-11 > * {
 max-width: 91.66667%;
 -webkit-flex-basis: 91.66667%;
 flex-basis: 91.66667%;
}

.col-sm-12,
.row.cols-sm-12 > * {
 max-width: 100%;
 -webkit-flex-basis: 100%;
 flex-basis: 100%;
}

.col-sm-offset-0 {
 margin-left: 0;
}

.col-sm-offset-1 {
 margin-left: 8.33333%;
}

.col-sm-offset-2 {
 margin-left: 16.66667%;
}

.col-sm-offset-3 {
 margin-left: 25%;
}

.col-sm-offset-4 {
 margin-left: 33.33333%;
}

.col-sm-offset-5 {
 margin-left: 41.66667%;
}

.col-sm-offset-6 {
 margin-left: 50%;
}

.col-sm-offset-7 {
 margin-left: 58.33333%;
}

.col-sm-offset-8 {
 margin-left: 66.66667%;
}

.col-sm-offset-9 {
 margin-left: 75%;
}

.col-sm-offset-10 {
 margin-left: 83.33333%;
}

.col-sm-offset-11 {
 margin-left: 91.66667%;
}

.col-sm-normal {
 -webkit-order: initial;
 order: initial;
}

.col-sm-first {
 -webkit-order: -999;
 order: -999;
}

.col-sm-last {
 -webkit-order: 999;
 order: 999;
}

@media (min-width: 768px) {
 .col-md,
 [class^='col-md-'],
 [class^='col-md-offset-'] {
  box-sizing: border-box;
  padding: 0 4px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
 }
 .col-md,
 .row.cols-md > * {
  max-width: 100%;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -webkit-flex-basis: 0;
  flex-basis: 0;
 }
 .col-md-1,
 .row.cols-md-1 > * {
  max-width: 8.33333%;
  -webkit-flex-basis: 8.33333%;
  flex-basis: 8.33333%;
 }
 .col-md-2,
 .row.cols-md-2 > * {
  max-width: 16.66667%;
  -webkit-flex-basis: 16.66667%;
  flex-basis: 16.66667%;
 }
 .col-md-3,
 .row.cols-md-3 > * {
  max-width: 25%;
  -webkit-flex-basis: 25%;
  flex-basis: 25%;
 }
 .col-md-4,
 .row.cols-md-4 > * {
  max-width: 33.33333%;
  -webkit-flex-basis: 33.33333%;
  flex-basis: 33.33333%;
 }
 .col-md-5,
 .row.cols-md-5 > * {
  max-width: 41.66667%;
  -webkit-flex-basis: 41.66667%;
  flex-basis: 41.66667%;
 }
 .col-md-6,
 .row.cols-md-6 > * {
  max-width: 50%;
  -webkit-flex-basis: 50%;
  flex-basis: 50%;
 }
 .col-md-7,
 .row.cols-md-7 > * {
  max-width: 58.33333%;
  -webkit-flex-basis: 58.33333%;
  flex-basis: 58.33333%;
 }
 .col-md-8,
 .row.cols-md-8 > * {
  max-width: 66.66667%;
  -webkit-flex-basis: 66.66667%;
  flex-basis: 66.66667%;
 }
 .col-md-9,
 .row.cols-md-9 > * {
  max-width: 75%;
  -webkit-flex-basis: 75%;
  flex-basis: 75%;
 }
 .col-md-10,
 .row.cols-md-10 > * {
  max-width: 83.33333%;
  -webkit-flex-basis: 83.33333%;
  flex-basis: 83.33333%;
 }
 .col-md-11,
 .row.cols-md-11 > * {
  max-width: 91.66667%;
  -webkit-flex-basis: 91.66667%;
  flex-basis: 91.66667%;
 }
 .col-md-12,
 .row.cols-md-12 > * {
  max-width: 100%;
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
 }
 .col-md-offset-0 {
  margin-left: 0;
 }
 .col-md-offset-1 {
  margin-left: 8.33333%;
 }
 .col-md-offset-2 {
  margin-left: 16.66667%;
 }
 .col-md-offset-3 {
  margin-left: 25%;
 }
 .col-md-offset-4 {
  margin-left: 33.33333%;
 }
 .col-md-offset-5 {
  margin-left: 41.66667%;
 }
 .col-md-offset-6 {
  margin-left: 50%;
 }
 .col-md-offset-7 {
  margin-left: 58.33333%;
 }
 .col-md-offset-8 {
  margin-left: 66.66667%;
 }
 .col-md-offset-9 {
  margin-left: 75%;
 }
 .col-md-offset-10 {
  margin-left: 83.33333%;
 }
 .col-md-offset-11 {
  margin-left: 91.66667%;
 }
 .col-md-normal {
  -webkit-order: initial;
  order: initial;
 }
 .col-md-first {
  -webkit-order: -999;
  order: -999;
 }
 .col-md-last {
  -webkit-order: 999;
  order: 999;
 }
}

@media (min-width: 1280px) {
 .col-lg,
 [class^='col-lg-'],
 [class^='col-lg-offset-'] {
  box-sizing: border-box;
  padding: 0 4px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
 }
 .col-lg,
 .row.cols-lg > * {
  max-width: 100%;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -webkit-flex-basis: 0;
  flex-basis: 0;
 }
 .col-lg-1,
 .row.cols-lg-1 > * {
  max-width: 8.33333%;
  -webkit-flex-basis: 8.33333%;
  flex-basis: 8.33333%;
 }
 .col-lg-2,
 .row.cols-lg-2 > * {
  max-width: 16.66667%;
  -webkit-flex-basis: 16.66667%;
  flex-basis: 16.66667%;
 }
 .col-lg-3,
 .row.cols-lg-3 > * {
  max-width: 25%;
  -webkit-flex-basis: 25%;
  flex-basis: 25%;
 }
 .col-lg-4,
 .row.cols-lg-4 > * {
  max-width: 33.33333%;
  -webkit-flex-basis: 33.33333%;
  flex-basis: 33.33333%;
 }
 .col-lg-5,
 .row.cols-lg-5 > * {
  max-width: 41.66667%;
  -webkit-flex-basis: 41.66667%;
  flex-basis: 41.66667%;
 }
 .col-lg-6,
 .row.cols-lg-6 > * {
  max-width: 50%;
  -webkit-flex-basis: 50%;
  flex-basis: 50%;
 }
 .col-lg-7,
 .row.cols-lg-7 > * {
  max-width: 58.33333%;
  -webkit-flex-basis: 58.33333%;
  flex-basis: 58.33333%;
 }
 .col-lg-8,
 .row.cols-lg-8 > * {
  max-width: 66.66667%;
  -webkit-flex-basis: 66.66667%;
  flex-basis: 66.66667%;
 }
 .col-lg-9,
 .row.cols-lg-9 > * {
  max-width: 75%;
  -webkit-flex-basis: 75%;
  flex-basis: 75%;
 }
 .col-lg-10,
 .row.cols-lg-10 > * {
  max-width: 83.33333%;
  -webkit-flex-basis: 83.33333%;
  flex-basis: 83.33333%;
 }
 .col-lg-11,
 .row.cols-lg-11 > * {
  max-width: 91.66667%;
  -webkit-flex-basis: 91.66667%;
  flex-basis: 91.66667%;
 }
 .col-lg-12,
 .row.cols-lg-12 > * {
  max-width: 100%;
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
 }
 .col-lg-offset-0 {
  margin-left: 0;
 }
 .col-lg-offset-1 {
  margin-left: 8.33333%;
 }
 .col-lg-offset-2 {
  margin-left: 16.66667%;
 }
 .col-lg-offset-3 {
  margin-left: 25%;
 }
 .col-lg-offset-4 {
  margin-left: 33.33333%;
 }
 .col-lg-offset-5 {
  margin-left: 41.66667%;
 }
 .col-lg-offset-6 {
  margin-left: 50%;
 }
 .col-lg-offset-7 {
  margin-left: 58.33333%;
 }
 .col-lg-offset-8 {
  margin-left: 66.66667%;
 }
 .col-lg-offset-9 {
  margin-left: 75%;
 }
 .col-lg-offset-10 {
  margin-left: 83.33333%;
 }
 .col-lg-offset-11 {
  margin-left: 91.66667%;
 }
 .col-lg-normal {
  -webkit-order: initial;
  order: initial;
 }
 .col-lg-first {
  -webkit-order: -999;
  order: -999;
 }
 .col-lg-last {
  -webkit-order: 999;
  order: 999;
 }
}


/* Iframes
 --------------------------------*/

.iframe {
 position: relative;
 display: block;
 overflow: hidden;
 width: 100%;
 margin: 0;
 padding: 0;
}

.iframe::before {
 display: block;
 padding-bottom: 56.25%;
 content: '';
}

.iframe embed,
.iframe iframe,
.iframe object {
 position: absolute;
 top: 0;
 right: 0;
 bottom: 0;
 left: 0;
 width: 100%;
 height: 100%;
}

.iframe video {
 width: 100%;
 max-width: 100%;
 height: auto;
}

.iframe-4-3::before {
 padding-bottom: 75%;
}

.iframe-1-1::before {
 padding-bottom: 100%;
}


/* Tabs
 --------------------------------*/

.tabs {
 position: relative;
 display: -webkit-flex;
 display: flex;
 width: 100%;
 max-width: calc(100vw - 1em);
 margin: 2em auto;
 opacity: 1;
 -webkit-box-pack: justify;
 -webkit-justify-content: space-between;
 justify-content: space-between;
 -webkit-flex-wrap: wrap;
 flex-wrap: wrap;
}

.tabs > label {
 display: inline-block;
 width: 20px;
 height: 26px;
 padding: 8px 12px;
 cursor: pointer;
 border: 1px solid #e6e6e6;
 border-bottom: 2px solid #e6e6e6;
 background: #fff;
 -webkit-box-flex: 1;
 -webkit-flex-grow: 1;
 flex-grow: 1;
 -webkit-order: 1;
 order: 1;
}

.tabs > label:active,
.tabs > label:focus,
.tabs > label:hover {
 color: #555;
 background: #f9f9f9;
}

.tabs.stacked > [type=checkbox],
.tabs > [type=radio] {
 display: none;
 visibility: hidden;
}

.tabs.stacked > [type=checkbox] + label + div,
.tabs > [type=radio] + label + div {
 position: absolute;
 overflow: hidden;
 width: 1px;
 height: 1px;
 margin: -1px;
 -webkit-flex-basis: auto;
 flex-basis: auto;
 -webkit-order: 2;
 order: 2;
}

.tabs.stacked > [type=checkbox]:checked + label,
.tabs > [type=radio]:checked + label {
 background: #efefef;
}

.tabs.stacked > [type=checkbox]:checked + label:active,
.tabs.stacked > [type=checkbox]:checked + label:focus,
.tabs.stacked > [type=checkbox]:checked + label:hover,
.tabs > [type=radio]:checked + label:active,
.tabs > [type=radio]:checked + label:focus,
.tabs > [type=radio]:checked + label:hover {
 background: #f9f9f9;
}

.tabs.stacked > [type=checkbox]:checked + label + div,
.tabs > [type=radio]:checked + label + div {
 position: relative;
 overflow: auto;
 box-sizing: border-box;
 width: 100%;
 height: 400px;
 min-height: 35em;
 margin: 0;
 padding: 8px;
 border: 1px solid #e6e6e6;
 border-top: none;
 background: #fff;
}

.tabs.stacked {
 flex-direction: column;
 -webkit-box-orient: vertical;
 -webkit-flex-direction: column;
}

.tabs.stacked > label {
 -webkit-order: initial;
 order: initial;
}

.tabs.stacked > [type=checkbox] + label + div,
.tabs.stacked > [type=radio] + label + div {
 -webkit-transform-origin: top;
 transform-origin: top;
 -webkit-order: initial;
 order: initial;
}

.tabs.stacked > [type=checkbox] + label + div + [type=checkbox] + label,
.tabs.stacked > [type=checkbox] + label + div + [type=radio] + label,
.tabs.stacked > [type=radio] + label + div + [type=checkbox] + label,
.tabs.stacked > [type=radio] + label + div + [type=radio] + label {
 border: 1px solid #bdbdbd;
 border-top: 0;
}

.tabs.stacked > [type=checkbox]:checked + label + div,
.tabs.stacked > [type=radio]:checked + label + div {
 height: auto;
}

a.fullCodePreview {
 position: absolute;
 z-index: 99999;
 right: 0;
 bottom: 0;
 padding: .5em 1em;
 text-decoration: none;
 color: #616161;
 border: 1px solid #bdbdbd;
 background: #efefef;
}

@media (max-width: 767px) {
 .tabs {
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
 }
 .tabs > [type=radio] + label + div,
 .tabs > label {
  -webkit-order: initial;
  order: initial;
 }
 .tabs > [type=radio] + label + div + [type=radio] + label {
  border: 1px solid #bdbdbd;
  border-top: 0;
 }
}


/* show hide */

.show {
 visibility: visible !important;
 transition: all 1s ease-in-out;
 opacity: 1 !important;
}

.hide {
 visibility: hidden !important;
 transition: all 1s ease-in-out;
 opacity: 0 !important;
}


/*  Slide out
---------------------------*/

#menu {
 position: absolute;
 width: 250px;
 height: 100%;
 background: #FFFFFF;
 border-right: 1px solid #F5F5F5;
 -webkit-transform: translate(-250px, 0px);
 transform: translate(-250px, 0px);
}

#wrapper,
#menu {
 transition: all 500ms ease;
}

.is-opened {
 -webkit-transform: translate(0px, 0px) !important;
 transform: translate(0px, 0px) !important;
 transition: all 500ms ease;
}

.menu-is-open {
 -webkit-transform: translate(250px, 0px) !important;
 transform: translate(250px, 0px) !important;
 transition: all 500ms ease;
}


/* Inside Menu 
----------------------------*/

#menu header {
 min-height: 50px;
 display: block;
 background: #F2F2F2;
 text-align: center;
 line-height: 50px;
 color: #ADADAD;
 text-transform: uppercase;
 border-bottom: 1px solid #EAEAEA;
}

#menu section {
 background: #F7F7F7;
 height: calc(100% - 51px);
 color: #ADADAD;
 padding: 1em;
 overflow-y: scroll;
}

#menu ul {
 list-style: none;
 margin: 0;
 padding: 0;
}

#menu ul li {
 display: block;
 margin: 0;
 padding: 0;
}

#menu ul li a {
 display: block;
 width: 100%;
 background: white;
 border-bottom: 1px solid #F3F2F2;
 padding: 0.5em 0.8em;
 color: #C3BCBC;
 transition: all 300ms ease;
 text-transform: uppercase;
 text-decoration: none;
}

#menu ul li a i {
 padding: 0.3em;
 margin-right: 1em;
 color: #F16363;
 transition: all 800ms ease;
}

#menu ul li a:active,
#menu ul li a:hover {
 background: #FBFBFB;
 text-decoration: none;
 color: #969595;
 transition: all 300ms ease;
}

#menu ul li a:active i,
#menu ul li a:hover i {
 color: #4290F5;
 transition: all 500ms ease;
}

#menu h3 {
 text-align: center;
 margin: 0;
 padding: 1.25em 1em;
 background-color: #FFFFFF;
 border-bottom: 1px solid #F1F1F1;
 color: #999;
 text-transform: uppercase;
}


/*  header
---------------------------*/

#header {
 height: 50px;
 background: #FFFFFF;
 line-height: 15px;
 overflow: hidden;
 border-bottom: 1px solid #F1F1F1;
}

#header h2 {
 float: left;
 margin: 0;
 margin-left: 1em;
 line-height: 2;
}

#header .menu {
 display: block;
 width: 50px;
 height: 50px;
 background: #FFFFFF;
 border-right: 1px solid #F1F1F1;
 color: #2196F3;
 text-decoration: none;
 font-size: 1em;
 text-align: center;
 line-height: 50px;
 float: left;
}

#header .right a {
 text-decoration: none;
 float: right;
 width: 50px;
 height: 50px;
 text-align: center;
 background: #FFFFFF;
 border-left: 1px solid #F1F1F1;
 color: #2196F3;
 font-size: 1em;
 line-height: 50px;
 transition: all 500ms ease;
}

#header .right a:hover {
 background: #F2F2F2;
 color: #198BEA;
 transition: all 500ms ease;
}

a.header-title {
 text-decoration: none;
 color: #8E8E8E;
 transition: all 500ms ease;
 text-transform: uppercase;
 line-height: 50px;
 font-size: 12px;
}

a.header-title:hover {
 text-decoration: none;
 color: #198BEA;
 transition: all 500ms ease;
}


/*  wrapper
---------------------------*/

#wrapper {
 padding: 0;
 margin: 0;
 width: 100%;
 height: 100%;
 background: #FBFBFB;
}


/*  Content
---------------------------*/

#content {
 margin: 0.5em;
 padding: 0.5em;
 background: #FFFFFF;
 border: 1px solid #F5F5F5;
 width: calc(100% - 1em);
 height: calc(100vh - 60px);
 overflow-y: auto;
 overflow-x: hidden;
}


/*  Footer
---------------------------*/

#footer {
 display: block;
 padding: 0.5em 1em;
 text-align: center;
 font-size: 12px;
 margin: 0;
}

.loader {
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background: blue;
 color: #2196F3;
 padding: 1em;
 text-align: center;
 padding-top: 3em;
 font-size: 40px;
 text-shadow: 0px 2px 3px #0000ff, 0px 4px 3px #3131b9, 0px 8px 3px #1b1b33;
}
